<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron">
                    <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for note in notes %}
                            <td>{{notes.id}}</td>
                            <td>{{notes.title}}</td>
                            <td>{{notes.description}}</td>
                            </tr>
                            {% endfor %}
                        <tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>